[Desktop Entry]
Version=1.0
Type=Application
Name=hyperCube demos Mono
Comment=hyperCube demos in Mono
GenericName=HyperCube Demo Runner
Exec=/usr/local/bin/hy_demoRunner --mono --no-stop
Icon=/usr/local/etc/cave_128x128.png
Path=/
Name=hyperCube demos Mono
Terminal=true
Categories=Application;
StartupNotify=true
