[Desktop Entry]
Version=1.0
Type=Application
Name=logout
Comment=Stop remote HyperCube session and Log out of the Xfce Desktop
GenericName=LogOut
Exec=hy_console_logout
Icon=system-log-out
Path=
Name=HyperCube Log Out
Terminal=false
Categories=Application;
StartupNotify=false
